[submodule "semester2/programming/lab8"]
	path = semester2/programming/lab8
	url = https://github.com/wwwyssa/proga-laba8
[submodule "semester3/web/lab4"]
	path = semester3/web/lab4
	url = https://github.com/Dkanil/Point-Area-Analyzer.git
[submodule "semester4/ВычМат"]
	path = semester4/ВычМат
	url = https://github.com/vch-math/computational-mathematics-labs-Dkanil.git
[submodule "semester4/МетОпты/hw"]
	path = semester4/МетОпты/hw
	url = https://github.com/Dkanil/OptimMethodsHW.git
[submodule "semester4/computer architecture/lab4"]
	path = semester4/computer architecture/lab4
	url = https://github.com/Dkanil/CSA-lab4.git
