.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

/* Форма */
form {
  background: #ececec;
  padding: 3rem;
  margin-bottom: 2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  border: 2px solid #f700ff;
  background: #fff;
  border-radius: 5px;
  font-size: 1.1em;
  transition: border-color 0.3s ease;
}

.form-field label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #353535;
}

.button-row {
  display: flex;
  gap: 10px;
}

.button-row button {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: 2px solid #f700ff;
  background: #ffffff;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.2s;
}

.button-row button:active {
  transform: scale(14, 88);
}

.button-row button.active {
  background: #d000ff;
  color: #ffffff;
  border-color: #9100ae;
}

.error-message {
  color: #da0000;
}

/* График */
.canvas {
  flex: 1;
  min-width: 300px;
  border-radius: 10px;
}

#bgCanvas {
  border: 2px solid #ddd;
  border-radius: 5px;
}

/* Гифки */
img {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:10;
}

/* Таблица */
.results-table {
  background: #ececec;
  padding: 2rem;
  border-radius: 10px;
}

.results-table h2 {
  margin-bottom: 1rem;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  background: linear-gradient(to right, #25c481, #25b7c4);
}

.table-wrapper {
  max-height: 300px;
  overflow-y: auto;
}

.table-wrapper thead tr {
  background: linear-gradient(to right, #67d6a7, #67cdd6);
  color: #ffffff;
  position: sticky;
  top: 0;
}

.table-wrapper table th,
.table-wrapper table td {
  padding: 10px;
  text-align: center;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 1154px) and (min-width: 890px) {
  .main-content {
    flex-direction: row;
    justify-content: center;
  }
  form {
    flex: 1 1 45%;
  }
  .canvas {
    flex: 1 1 45%;
  }
  .results-table {
    width: 100%;
  }
  header h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 889px) {

  .main-content {
    flex-direction: column;
    padding: 1rem;
  }

  form {
    padding: 1.5rem;
  }

  .button-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .button-row button {
    width: 48px;
    height: 48px;
  }

  .canvas {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .results-table {
    padding: 1rem;
  }

  header {
    padding: 1rem;
  }

  header h1 {
    font-size: 1.2em;
  }

  img {
    max-width: 80%;
    height: auto;
  }
}
